body {
	background-color: white;
	font-family: arial;
}

ul {
	list-style: none;
	margin: 2em;
	width: 20em;
	border: 1px solid #ccc;
	padding: 0;
}

li {
	padding: 1em;
	border-bottom: 1px solid #ccc;
}

li:last-child {
	border-bottom: none;
}

li:hover {
	background-color: #eee;
	cursor: hand;
}

li a {
	margin: 0px;
	padding: 0px;
	margin-top: -10px;
	display: block;
	text-decoration: none;
	float: left;
	width: 92%;
}

li a.remove {
	padding-left: 3px;
	width: 4%;
	color: grey;
	border: 1px solid #ccc;
}
