body {
	background-color: white;
	font-family: arial;
	margin: 0px;
	padding: 0px;
	color: #004d40;
}

header {
	background-color: #00bcd4;
	height: 6em;
}

header h1, footer p {
	margin: 0px;
	padding: 10px;
}

header ul {
	padding: 0;
	margin: 0;
	list-style: none;
	border: none;
}

header li {
	padding: 0;
	margin: 0;
	display: inline;
	border: none;
}

ul {
	padding: 0;
	margin: 2em;
	list-style: none;
	border: 1px solid #004d40;
}

ul#cities {
	width: 8em;
}

ul#places {
	width: 18em;
}

li {
	padding: 1em;
	border-bottom: 1px solid #004d40;
}

li:last-child {
	border-bottom: none;
}

li:hover {
	background-color: #e0f7fa;
	cursor: pointer;
}

li.selected {
	background-color: #80cbc4;
}

li a {
	color: #004d40;
	margin: 0px;
	padding: 0px;
	margin-top: -10px;
	display: block;
	text-decoration: none;
	float: left;
	width: 92%;
}

li a.remove {
	padding-left: 3px;
	width: 4%;
	color: grey;
	border: 1px solid #ccc;
}

footer {
	background-color: #006064;
	color: #b2ebf2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3em;
}

/*
	LEAFLET
*/
#map {
	margin: 2em;
	width: 500px;
	height: 250px;
}
